<div class="container">
        <h2>KPO-Accounts and Tax</h2>
        <div>
            <p>Principles of accountancy remain the same in every part of the world. Accounting transcription means
                sending the raw data through the internet for outsourcing at a distinct place, processing of data and
                re-transmitting the processed data to the principal in prerequisites manner.</p>
            <p>Our core Outsourcing services include but not limited to:</p>

        </div>

    <!-- list -->
    <div>
        <ul>
            <li>Preparation of Books of Accounts</li>
            <li>Preparation of Bank Reconciliation Statement</li>
            <li>Monthly MIS Reports</li>
            <li>Preparation of expense vouchers, suppliers invoice, check deposit memo and any other documents
                Preparation of invoices</li>
            <li>Payroll reconciliation</li>
            <li>Rent roll processing and its reconciliation in case of property related matters</li>
            <li>Preparation of financials statements</li>
            <li>Verification of Vouchers / expense incurred &amp; correct accounting being done for same.</li>
            <li>Overseas Deputation</li>
        </ul>
    </div>
    <!-- list -->
</div>