<div class="container">
    <h2 class="services-header">Corporate Support Services</h2>
    <div class="mt-3">
        <h5 style="text-align: left">Payroll</h5>
        <div>
            <div class="services-paragraph">
                <p style="text-align: justify;">Our team can help in vast reduction of your time, effort and money spent
                    on payroll administration by providing you with customized payroll processing services specially
                    curated to match with your business needs.
                </p>
            </div>
        </div>

        <!-- list -->
        <div>
            <h5>Our Payroll Services include:</h5>
            <ul class="services-listitems">
                <li>Assistance in HR policies &amp; procedures</li>
                <li>Maintenance of Employee Records</li>
                <li>Preparation of payroll, tax deduction, filing of quarterly tax reports and annual employee related
                    tax reports &amp; issue of Form 16.</li>
                <li>Payroll tax compliance services for Income tax, Provident fund &amp; Professional Tax.</li>
                <li>Reconciliation of payments/statutory deductions etc. with books of accounts on quarterly basis.</li>
            </ul>
            <p></p>
        </div>
        <!-- list -->
        <h5 style="text-align: left">Services of Virtual CFO</h5>
        <div>
            <div class="services-paragraph">
                <p style="text-align: justify;">New arena of services involving Chief Financial Officer (CFO) is
                    provided to start-up small business houses and overseas business entities in managing core financial
                    activities, Assistance in preparing feasibility reports, Financial structuring and Due Diligence for
                    companies, Corporate Laws compliance and opinions</p>

            </div>
        </div>
        <h5 style="text-align: left">Company Law Consultancy</h5>
        <div>
            <div class="services-paragraph">
                <p>Our core Company law consultancy services include but not limited to:</p>

            </div>
        </div>

        <!-- list -->
        <div>

            <ul class="services-listitems">
                <li>Incorporation of Companies including One Person Company,</li>
                <li>Incorporation of LLP</li>
                <li>Advisory on Internal Financial Controls &amp; Manuals</li>
                <li>Filing of Annual Returns</li>
                <li>Updation of Statutory Records</li>
                <li>Minutes &amp; Resolutions</li>
                <li>Dissolution/Winding up of Companies</li>
            </ul>

        </div>
        <!-- list -->
    </div>
</div>