<div class="container">
    <h2 class="services-header">Taxation</h2>
    <div>
        <div>
            <div class="services-paragraph">
                <p style="text-align: justify;">Over a decade, Indian Taxation system has undergone tremendous reforms
                    challenging large &amp; growing business. The firm has specialized in Direct tax planning services
                    by advising and counselling to clients in selecting form of business, organization of capital
                    structuring, consolidation of resources etc.</p>
                <p style="text-align: justify;">Complete services to our clientele with the help of qualified assistants
                    and other Chartered Accountants for filing Income Tax Returns, appearing before various tax
                    Authorities and handling complete services at assessment levels before the various</p>

            </div>
        </div>
        <p class="services-paragraph" style="text-align: justify;">By GST acting as game changing reform for Indian Economy, it is required for
            companies / entities to plan its transition, perform impact analysis, understand its taxability and
            associated compliances.<br>
            <br>We help clients in fulfilling all their compliances required under Goods and Services Tax
            (“GST”) laws. Compliances, inter-alia, include the following:-<br>
            <br>Our GST Registration services for clients begins by assessing and determining the status of a
            client’s requirement to register under GST. Our services include registration process including applying for
            the GST registration, identification of the goods and services being sold und GST, amending the details
            mentioned in the registration certificate in accordance with the relevant Rules of the GST laws, filing
            appeal for restoration and more.<br>
            <br>
        </p>
        <div style="text-align: justify;">
            <ul class="services-listitems">
                <li>Assessing&nbsp;<strong>potential impact of GST Laws</strong>&nbsp;on different business operations
                    of the client. In other words, advising clients on the applicability of GST on various transactions
                    undertaken or proposed to be undertaken.</li>
                <li>Applying provisions related to&nbsp;<strong>place of supply</strong>&nbsp;in client’s transactions
                    and determining the correct type of tax (CGST &amp; SGST or IGST) to be paid on the basis of
                    classification under inter-state or intra-state supply.</li>
                <li>Determining the&nbsp;<strong>time of supply</strong>&nbsp;to eventually determining the tax period
                    in which tax dues are required to be paid.</li>
                <li><strong>Reviewing the accounting data</strong>&nbsp;of client and check for GST compliance as per
                    the tax laws.</li>
                <li>Preparation of&nbsp;<strong>tax invoices</strong>, bill of supply, credit notes, debit notes, etc.
                    containing all the relevant details mentioned under the provisions of GST Rules.</li>
                <li><strong>Review of all invoices</strong>&nbsp;etc. where the client himself prepares them.</li>
                <li>Identification of&nbsp;<strong>invoices available for input tax credit</strong>&nbsp;with respect to
                    the relevant provisions.</li>
                <li>Intimation for&nbsp;<strong>payment of taxes</strong>&nbsp;as per output liability of the clients.
                </li>
                <li><strong>Monthly reconciliations</strong>.</li>
                <li>Determining the inputs, input services and capital goods on which taxes have been paid
                    and&nbsp;<strong>credit</strong>&nbsp;of which are&nbsp;<strong>eligible</strong>&nbsp;to be taken
                    and determining the&nbsp;<strong>reversals of input tax credit</strong>&nbsp;availed as per GST
                    laws.</li>
                <li>Determining the applicability of&nbsp;<strong>reverse charge mechanism</strong>.</li>
            </ul>
        </div>
        <p class="services-paragraph" style="text-align: justify;"><br>We help clients in filing of their GST returns as well as for all
            periodic returns under other tax schemes. Our services also include collecting relevant data, review of
            annual returns, certifying reconciliation statements, and keeping clients updated on GST amendments.<br>
            <br><strong>On call advisory</strong>&nbsp;with respect to various queries and issues under the GST
            law.
        </p>
    </div>
    <div>
        <p class="services-paragraph" style="text-align: justify;">Managing complexities involved in Indian tax structure by offering services in
            the areas of Corporate Tax, Transaction Services, Filing of tax returns, etc.<br>
            <br><br>Preparation of computation of income &amp; filing of income tax returns of various
            HNI assessee and other HUFs, Partnership Firms and Companies.<br>
            <br><br>Issuance of 15CA and 15CB certificate for remittance to Non-resident/Foreign
            Entities under section 195 of the Income-tax Act, 1961
        </p>
    </div>
</div>