<div class="form-group" class="form-item">
    <label for="" class="formItemLabelMargin"> {{label}} <span
            class="mandatory">*</span></label>
    <label class="formItemWarningMargin">&nbsp; {{restrictionMessage}}</label>

        <input type="file" [accept]="accept" [formControlName]="formControlName"
            id="" class="form-control" (change)="onFileSelected($event)"
            [ngClass]="{'is-invalid': control.touched && control.invalid}">
        &nbsp;
        <span *ngIf="documentUploadStatus" class="badge rounded-pill bg-info text-dark">{{documentUploadStatus}}</span>

     <div *ngIf="control.touched && control.invalid" class="alert alert-danger">
        <div *ngIf="control.hasError('required')">This field is required</div>
        <div *ngIf="control.hasError('fileTooLarge')">File must not exceed {{ maxFileSizeAllowedInMB }} MB</div>
        <div *ngIf="control.hasError('fileFormatInvalid')">Invalid File Format!</div>
     </div>
</div>
