.form-item{
    margin-bottom: 25px;
    font-size: medium;
}

.formItemLabelMargin
{
    margin-bottom: 5px;
}

img {
  border: 0;
  border-radius: 10px;
  opacity: 0.95;
}

.alert {
    margin-bottom: 1px;
    height: 35px;
    line-height:30px;
    padding:0px 10px;
  }

.formItemWarningMargin
{
font-size: 12px;
}

.mandatory{
color: red;
}

.badge {
    margin-bottom: 7px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5); /* Black background with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
