<section>
  <div class="container p-2">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="section-heading">About Us</h2>
        <hr/>
        <div class="my-1">
          <h4>Introduction</h4>
          <p>
            <strong>M/s V & V Associates</strong>
            is Service Oriented business. The business was basically initiated
            by Vijaybhai Nandaniya and the same is now carried on growth plan by
            him
          </p>
          <h5>How we started ?</h5>
          <p>
            Initially Mr. Vijaybhai Nandaniya has started his carrier by doing
            job and started Consultancy Firm in February, 2012 of Loan
            Consultancy & Tax Advisory Firm in the name of V & V Associates.
          </p>
          <p>
            Currently, He manages all the concerns of the Business
            <strong>M/s V & V Associates</strong> is Proprietary concern
            Providing service to our client in GST Compliance from
            {{ "01-07-2017" | date : "DDD MMM, YYYY" }} and with providing Loan
            Consultancy of all type of Machinery Loan , Project Finance , Home
            Loan, LAP on Residential Property , Unsecured Loan to Director,
            Doctor’s
          </p>
          <h5>Promoter and Management</h5>
          <p style="color: rgb(7, 130, 7)">
            Firm is running successfully with the endeavor of Proprietor Mr.
            Vijaybhai Nandaniya with management team consisting of 3 experienced
            and qualified persons.
          </p>
          <p>Thank you for consulting ! visit again.</p>
          <div class="text-center">
            <button class="btn btn-info btn-sm mt-4" routerLink="/">
              Back To Home
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
