<img src="assets/ServicesBanner.png" alt="ServicesBannner Image" />
<div class="container mt-3">
    <h2>Accounting System</h2>
    <div>
        <div class="services-paragraph">
            <p style="text-align: justify;">Due to increasing corporate governance, the statutory compliance
                requirements are on a tremendous rise. Outsourcing their corporate support work to a specialized partner
                will not only ensure timely local compliance but also more effective mitigation against the risks
                associated with non-compliance.<br>
                <i data-stringify-type="italic">Accounting and Business Process Outsourcing services</i><br>
                In a new or an existing setup, the expense of maintaining a fully-fledged accounts department becomes an
                expensive affair and lack of inefficient and ineffective department may pose a considerable risk to the
                growing business / start up entities. Therefore, integration of accounting and reporting into the
                finance function has become vital to reduce risks and meet the regulatory requirements.
            </p>

        </div>
    </div>
    <div>
        <h3 style="font-size: 17px;text-align: left">Our core bookkeeping services include but not limited to:</h3>
        <!-- list -->
        <div>
            <ul class="services-listitems" data-stringify-type="unordered-list" data-indent="0">
                <li data-stringify-indent="0">Assistance to corporate information of accounting policies &amp;
                    procedures</li>
                <li data-stringify-indent="0">General ledger bookkeeping, analysis and processing of expense reports
                </li>
                <li data-stringify-indent="0">Maintenance of accounts-payable and accounts-receivable listings</li>
                <li data-stringify-indent="0">Maintenance, Review and Inspection of Fixed Assets</li>
                <li data-stringify-indent="0">Monthly bank reconciliations and assistance with budgeting</li>
                <li data-stringify-indent="0">Preparation and analysis of financial statements</li>
                <li data-stringify-indent="0">Customized financial reporting on monthly, quarterly and annual basis</li>
            </ul>
            <p></p>
        </div>
        <!-- list -->
        <h3 style="font-size: 17px;text-align: left">Our following strengths would help our clients recognise the
            advantages of outsourcing their accounting and other business processing needs to us:</h3>
        <!-- list -->
        <div>
            <ul class="services-listitems" data-stringify-type="unordered-list" data-indent="0">
                <li data-stringify-indent="0">International orientation</li>
                <li data-stringify-indent="0">Quality consciousness</li>
                <li data-stringify-indent="0">Utmost emphasis on confidentiality and data protection</li>
                <li data-stringify-indent="0">Wide range of service offerings</li>
                <li data-stringify-indent="0">Quick scalability</li>
                <li data-stringify-indent="0">Exposure to varied industries</li>
                <li data-stringify-indent="0">Well experienced and highly skilled</li>
                <li data-stringify-indent="0">Well conversant with emerging technologies</li>
                <li data-stringify-indent="0">Dedicated teams for specific clients</li>
                <li data-stringify-indent="0">Excellent office and other infrastructure facilities.</li>
                <li data-stringify-indent="0">Commitment to timely delivery</li>
            </ul>
        </div>
        <!-- list -->
    </div>
</div>