<div class="container">
    <h2>Accrual Based Accounting System</h2>
    <div>
        <div>
            <p style="text-align: justify;">The firm is specialized in providing services of designing, developing and
                implementing the accrual / Double Entry accounting system of accounting for Corporate and Non-Corporate
                entities as well as for Government and Semi- Government agencies.</p>
            <p style="text-align: justify;">The firm possesses the expertise to design Manual on Accounting for
                implementing the accrual-based accounting system in the organization &amp; providing training to the
                employees of the organizations for the implementation of accrual / Double Entry accounting system.</p>
            <p style="text-align: justify;">The firm is engaged into various projects of conversion of Single-Entry
                Accounting System to Accrual / Double Entry System of Accounting Assignments carried out for various
                Government Sectors in different states of India.</p>

        </div>
    </div>
</div>