<section class="mt-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="section-heading">
                    Terms &amp; Conditions
                </h2>
                <hr/>
                <div class="mb-4">
                    <p><strong style="color: rgb(65, 64, 66);">Application and entire agreement</strong></p>
                    <p><span style="color: black;">1. These Terms and Conditions apply to the provision of the services
                            detailed in our quotation (Services) by V &amp; V Associates a Firm whose registered office
                            is at 104, Nilkanth Plaza, Above HDFC Bank , Bapa Sitaram Chowk, Mavdi, Rajkot ,Gujarat,
                            India, (we or us or Service Provider) to the person buying the services (you or
                            Customer).</span></p>
                    <p><span style="color: black;">2. You are deemed to have accepted these Terms and Conditions when
                            you accept our quotation or from the date of any performance of the Services (whichever
                            happens earlier) and these Terms and Conditions and our quotation (the Contract) are the
                            entire agreement between us.</span></p>
                    <p><span style="color: black;">3. You acknowledge that you have not relied on any statement, promise
                            or representation made or given by or on our behalf. These Conditions apply to the Contract
                            to the exclusion of any other terms that you try to impose or incorporate, or which are
                            implied by trade, custom, practice or course of dealing.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Interpretation</strong></p>
                    <p><span style="color: black;">4. A “business day” means any day other than a Saturday, Sunday or
                            bank holiday in India and Gujarat.</span></p>
                    <p><span style="color: black;">5. The headings in these Terms and Conditions are for convenience
                            only and do not affect their interpretation.</span></p>
                    <p><span style="color: black;">6. Words imparting the singular number shall include the plural and
                            vice-versa, words importing any gender include every gender, and words importing persons
                            include bodies corporate and unincorporated and (in each case) vice versa.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Services</strong></p>
                    <p><span style="color: black;">7. We warrant that we will use reasonable care and skill in our
                            performance of the Services which will comply with the quotation, including any
                            specification in all material respects. We can make any changes to the Services which are
                            necessary to comply with any applicable law or safety requirement, and we will notify you if
                            this is necessary.</span></p>
                    <p><span style="color: black;">8. We will act in good faith and not do any act matter or thing that
                            may prejudicially affect the interests of the Client; and comply with the lawful, proper and
                            reasonable directions of the Client; and provide such other service or services as may be
                            agreed from time to time by the Parties. We will use our reasonable endeavours to complete
                            the performance of the Services within the time agreed or as set out in the quotation;
                            however, time shall not be of the essence in the performance of our obligations.</span></p>
                    <p><span style="color: black;">9. All of these Terms and Conditions apply to the supply of any goods
                            as well as Services unless we specify otherwise.</span></p>

                    <p><span style="color: rgb(122, 124, 127);">&nbsp;</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Your obligations</strong></p>
                    <p><span style="color: black;">10. You must obtain any permissions, consents, licences or otherwise
                            that we need and must give us with access to any and all relevant information, materials,
                            properties and any other matters which we need to provide the Services.</span></p>
                    <p><span style="color: black;">11. If you do not comply with clause 10, we can terminate the
                            Services.</span></p>
                    <p><span style="color: black;">12. We are not liable for any delay or failure to provide the
                            Services if this is caused by your failure to comply with the provisions of this section
                            (Your obligations).</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Fees and Deposits</strong></p>
                    <p><span style="color: black;">13. The fees (Fees) for the Services are set out in the quotation and
                            are on a time and materials basis. Our fees may depend not only upon the time spent on your
                            affairs but also on the level of skill and responsibility and the importance and value of
                            the advice that we provide, as well as the level of risk. If we provide you with an estimate
                            of our fees for any specific work, then the estimate will not be contractually binding
                            unless we explicitly state that that will be the case.</span></p>
                    <p><span style="color: black;">14. In addition to the Fees, we can recover from you a) reasonable
                            incidental expenses including, but not limited to, travelling expenses, hotel costs,
                            subsistence and any associated expenses, b) the cost of services provided by third parties
                            and required by us for the performance of the Services, and c) the cost of any materials
                            required for the provision of the Services.</span></p>
                    <p><span style="color: black;">15. You must pay us for any additional services provided by us that
                            are not specified in the quotation in accordance with our then current, applicable hourly
                            rate in effect at the time of performance or such other rate as may be agreed between us.
                            The provisions of clause 14 also apply to these additional services.</span></p>
                    <p><span style="color: black;">16. The Fees are exclusive of any applicable GST and other taxes or
                            levies which are imposed or charged by any competent authority.</span></p>
                    <p><span style="color: black;">17. You must pay a deposit (“Deposit”) as detailed in the quotation
                            at the time of accepting the quotation.</span></p>
                    <p><span style="color: black;">18. If you do not pay the Deposit to us according to the clause
                            above, we can either withhold provision of the Services until the Deposit is received or can
                            terminate under the clause below (Termination).</span></p>
                    <p><span style="color: black;">19. The Deposit is non-refundable unless we fail to provide the
                            Services and are at fault for such failure (where the failure is not our fault, no refund
                            will be made).</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Cancellation and amendment</strong></p>
                    <p><span style="color: black;">20. We can withdraw, cancel or amend a quotation if it has not been
                            accepted by you, or if the Services have not started, within a period of 7 days from the
                            date of the quotation, (unless the quotation has been withdrawn).</span></p>
                    <p><span style="color: black;">21. Either we or you can cancel an order for any reason prior to your
                            acceptance (or rejection) of the quotation.</span></p>
                    <p><span style="color: black;">22. If you want to amend any details of the Services you must tell us
                            in writing as soon as possible. We will use reasonable endeavours to make any required
                            changes and additional costs will be included in the Fees and invoiced to you.</span></p>
                    <p><span style="color: black;">23. If, due to circumstances beyond our control, including those set
                            out in the clause below (Circumstances beyond a party’s control), we have to make any change
                            in the Services or how they are provided, we will notify you immediately. We will use
                            reasonable endeavours to keep any such changes to a minimum.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Payments</strong></p>
                    <p><span style="color: black;">24. We will invoice you for payment of the Fees either:</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">a. when we have
                            completed the Services; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">b. on the invoice
                            dates set out in the quotation.</span></p>
                    <p><span style="color: black;">25. You must pay the Fees due within 15 days of the date of our
                            invoice or otherwise in accordance with any credit terms agreed between us.</span></p>
                    <p><span style="color: black;">26. Time for payment shall be of the essence of the Contract.</span>
                    </p>
                    <p><span style="color: black;">27. Without limiting any other right or remedy we have for statutory
                            interest, if you do not pay within the period set out above, we will charge you interest at
                            the rate of 18% per annum above the base lending rate of the Reserve Bank of India Interest
                            rate and as per their guidelines provide. We also reserve the right to suspend our services
                            or to cease to act for you on giving written notice if payment of any fees is unduly
                            delayed. We intend to exercise these rights only where it is fair and reasonable to do
                            so.</span></p>
                    <p><span style="color: black;">28. All payments due under these Terms and Conditions must be made in
                            full without any deduction or withholding except as required by law and neither of us can
                            assert any credit, set-off or counterclaim against the other in order to justify withholding
                            payment of any such amount in whole or in part.</span></p>
                    <p><span style="color: black;">29. If you do not pay within the period set out above, we can suspend
                            any further provision of the Services and cancel any future services which have been ordered
                            by, or otherwise arranged with, you.</span></p>
                    <p><span style="color: black;">30. Receipts for payment will be issued by us only at your
                            request.</span></p>
                    <p><span style="color: black;">31. All payments must be made in Indian Rupees unless otherwise
                            agreed in writing between us.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Sub-contracting and assignments</strong></p>
                    <p><span style="color: black;">32. We can at any time assign, transfer, charge, sub contract or deal
                            in any other manner with all or any of our rights under these Terms and Conditions and can
                            subcontract or delegate in any manner any or all of our obligations to any third
                            party.</span></p>
                    <p><span style="color: black;">33. You must not, without our prior written consent, assign,
                            transfer, charge, subcontract or deal in any other manner with all or any of your rights or
                            obligations under these Terms and Conditions.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Termination</strong></p>
                    <p><span style="color: black;">34. We can terminate the provision of the Services immediately if
                            you:</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">a. commit a material
                            breach of your obligations under these Terms and Conditions; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">b. fail to make pay
                            any amount due under the Contract on the due date for payment; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">c. are or become or,
                            in our reasonable opinion, are about to become, the subject of a bankruptcy order or take
                            advantage of any other statutory provision for the relief of insolvent debtor; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">d. enter into a
                            voluntary arrangement under Part 1 of the Insolvency Act 1986, or any other scheme or
                            arrangement is made with its creditors; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">e. convene any
                            meeting of your creditors, enter into voluntary or compulsory liquidation, have a receiver,
                            manager, administrator or administrative receiver appointed in respect of your assets or
                            undertakings or any part of them, any documents are filed with the court for the appointment
                            of an administrator in respect of you, notice of intention to appoint an administrator is
                            given by you or any of your directors or by a qualifying floating charge holder (as defined
                            in para. 14 of Schedule B1 of the Insolvency Act 1986), a resolution is passed or petition
                            presented to any court for your winding up or for the granting of an administration order in
                            respect of you, or any proceedings are commenced relating to your insolvency or possible
                            insolvency.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Intellectual Property</strong></p>
                    <p><span style="color: black;">35. We reserve all copyright and any other intellectual property
                            rights which may subsist in any goods supplied in connection with the provision of the
                            Services. We reserve the right to take any appropriate action to restrain or prevent the
                            infringement of such intellectual property rights.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Liability and indemnity</strong></p>
                    <p><span style="color: black;">36. Our liability under these Terms and Conditions, and in breach of
                            statutory duty, and in tort or misrepresentation or otherwise, shall be limited as set out
                            in this section.</span></p>
                    <p><span style="color: black;">37. The total amount of our liability is limited to the total amount
                            of Fees payable by you under the Contract.</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">38. We are not
                            liable (whether caused by our employees, agents or otherwise) in connection with our
                            provision of the Services or the performance of any of our other obligations under these
                            Terms and Conditions or the quotation for:</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">a. any indirect,
                            special or consequential loss, damage, costs, or expenses or;</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">b. any loss of
                            profits; loss of anticipated profits; loss of business; loss of data; loss of reputation or
                            goodwill; business interruption; or, other third party claims; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">c. any failure to
                            perform any of our obligations if such delay or failure is due to any cause beyond our
                            reasonable control; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">d. any losses caused
                            directly or indirectly by any failure or your breach in relation to your obligations;
                            or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">e. any losses
                            arising directly or indirectly from the choice of Services and how they will meet your
                            requirements or your use of the Services or any goods supplied in connection with the
                            Services.</span></p>
                    <p><span style="color: black;">39. You must indemnify us against all damages, costs, claims and
                            expenses suffered by us arising from any loss or damage to any equipment (including that
                            belonging to third parties) caused by you or your agents or employees.</span></p>
                    <p><span style="color: black;">40. Nothing in these Terms and Conditions shall limit or exclude our
                            liability for death or personal injury caused by our negligence, or for any fraudulent
                            misrepresentation, or for any other matters for which it would be unlawful to exclude or
                            limit liability.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Data Protection</strong></p>
                    <p><span style="color: black;">41. When supplying the Services to the Customer, the Service Provider
                            may gain access to and/or acquire the ability to transfer, store or process personal data of
                            employees of the Customer.</span></p>
                    <p><span style="color: black;">42. The parties agree that where such processing of personal data
                            takes place, the Customer shall be the ‘data controller’ and the Service Provider shall be
                            the ‘data processor’ as defined in the General Data Protection Regulation (GDPR) as may be
                            amended, extended and/or re-enacted from time to time.</span></p>
                    <p><span style="color: black;">43. For the avoidance of doubt, ‘Personal Data’, ‘Processing’, ‘Data
                            Controller’, ‘Data Processor’ and ‘Data Subject’ shall have the same meaning as in the
                            GDPR.</span></p>
                    <p><span style="color: black;">44. The Service Provider shall only Process Personal Data to the
                            extent reasonably required to enable it to supply the Services as mentioned in these terms
                            and conditions or as requested by and agreed with the Customer, shall not retain any
                            Personal Data longer than necessary for the Processing and refrain from Processing any
                            Personal Data for its own or for any third party’s purposes.</span></p>
                    <p><span style="color: black;">45. The Service Provider shall not disclose Personal Data to any
                            third parties other than employees, directors, agents, sub-contractors or advisors on a
                            strict ‘need-to-know’ basis and only under the same (or more extensive) conditions as set
                            out in these terms and conditions or to the extent required by applicable legislation and/or
                            regulations.</span></p>
                    <p><span style="color: black;">46. The Service Provider shall implement and maintain technical and
                            organisational security measures as are required to protect Personal Data Processed by the
                            Service Provider on behalf of the Customer.</span></p>
                    <p><span style="color: black;">47. Further information about the Service Provider’s approach to data
                            protection are specified in its Data Protection Policy, which can be found on our website.
                            For any enquiries or complaints regarding data privacy, you can
                            email:&nbsp;{{"inquiries@essencekpo.com."}}</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Circumstances beyond a party's control</strong></p>
                    <p><span style="color: black;">48. Neither of us is liable for any failure or delay in performing
                            our obligations where such failure or delay results from any cause that is beyond the
                            reasonable control of that party. Such causes include, but are not limited to: industrial
                            action, civil unrest, fire, flood, storms, earthquakes, acts of terrorism, acts of war,
                            governmental action or any other event that is beyond the control of the party in question.
                            If the delay continues for a period of 90 days, either of us may terminate or cancel the
                            Services to be carried out under these Terms and Conditions.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Communications</strong></p>
                    <p><span style="color: black;">49. All notices under these Terms and Conditions must be in writing
                            and signed by, or on behalf of, the party giving notice (or a duly authorised officer of
                            that party).</span></p>
                    <p><span style="color: black;">50. Notices shall be deemed to have been duly given:</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">a. when delivered,
                            if delivered by courier or other messenger (including registered mail) during the normal
                            business hours of the recipient;</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">b. when sent, if
                            transmitted by fax or email and a successful transmission report or return receipt is
                            generated;</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">c. on the fifth
                            business day following mailing, if mailed by national ordinary mail; or</span></p>
                    <p><span style="color: rgb(122, 124, 127);"> </span><span style="color: black;">d. on the tenth
                            business day following mailing, if mailed by airmail.</span></p>
                    <p><span style="color: black;">51. All notices under these Terms and Conditions must be addressed to
                            the most recent address, email address or fax number notified to the other party.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Client Identifications</strong></p>
                    <p><span style="color: black;">52. As with other professional services firms, we are required to
                            identify our clients for the purposes of the UK anti-money laundering legislation. We may
                            request from you, and retain, such information and documentation as we require for these
                            purposes and/or make searches of appropriate databases.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Client Money</strong></p>
                    <p><span style="color: black;">53. We may, from time to time, hold money on your behalf. The money
                            will be held in trust in a client bank account, which is segregated from the firm’s
                            funds.</span></p>
                    <p><span style="color: black;">54. We will return monies held on your behalf promptly as soon as
                            there is no longer any reason to retain those funds. If any funds remain in our client
                            account that are unclaimed and the client to whom they relate has remained untraced for five
                            years or we as a firm cease to practise then we may pay those monies to a registered
                            charity.</span></p>
                    <p><span style="color: black;">55. We are committed to providing you with a high-quality service
                            that is both efficient and effective. However, should there be any cause for complaints in
                            relation to any aspect of our service please contact the Practice Manager. We agree to look
                            into any complaint carefully and promptly and do everything reasonable to put it right. If
                            you are still not satisfied you can refer your complaint to our professional body, the
                            Chartered Institute of Management Accountants.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Confidentiality</strong></p>
                    <p><span style="color: black;">56. Communication between us is confidential and we shall take all
                            reasonable steps to keep confidential your information except where we are required to
                            disclose it by law, by regulatory bodies, by our insurers or as part of an external peer
                            review. Unless we are authorised by you to disclose information on your behalf this
                            undertaking will apply during and after this engagement.</span></p>
                    <p><span style="color: black;">57. We reserve the right, for the purpose of promotional activity,
                            training or for other business purpose, to mention that you are a client. As stated above we
                            will not disclose any confidential information.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Conflicts of interest</strong></p>
                    <p><span style="color: black;">58. We will inform you if we become aware of any conflict of interest
                            in our relationship with you or in our relationship with you and another client unless we
                            are unable to do so because of our confidentiality obligations. We have safeguards that can
                            be implemented to protect the interests of different clients if a conflict arises. Where
                            conflicts are identified which cannot be managed in a way that protects your interests then
                            we regret that we will be unable to provide further services.</span></p>
                    <p><span style="color: black;">59. If there is a conflict of interest that is capable of being
                            addressed successfully by the adoption of suitable safeguards to protect your interests,
                            then we will adopt those safeguards. We reserve the right to provide services for other
                            clients whose interests are not the same as yours or are adverse to yours subject of course
                            to the obligations of confidentiality referred to above.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Internal disputes within client</strong></p>
                    <p><span style="color: black;">60. If we become aware of a dispute between the parties who own or
                            are in some way involved in the ownership and management of the business, it should be noted
                            that our client is the business and we would not provide information or services to one
                            party without the express knowledge and permission of all parties. Unless otherwise agreed
                            by all parties we will continue to supply information to the registered office/normal place
                            of business for the attention of the directors/proprietors. If conflicting advice,
                            information or instructions are received from different directors/principals in the business
                            we will refer the matter back to the board of directors/the partnership and take no further
                            action until the board/partnership has agreed the action to be taken.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">No waiver</strong></p>
                    <p><span style="color: black;">61. No delay, act or omission by a party in exercising any right or
                            remedy will be deemed a waiver of that, or any other, right or remedy nor stop further
                            exercise of any other right, or remedy.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Severance</strong></p>
                    <p><span style="color: black;">62. If one or more of these Terms and Conditions is found to be
                            unlawful, invalid or otherwise unenforceable, that / those provisions will be deemed severed
                            from the remainder of these Terms and Conditions (which will remain valid and
                            enforceable).</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Lien</strong></p>
                    <p><span style="color: black;">63. We reserve the right to exercise a lien over all funds, documents
                            and records in our possession relating to all engagements for you until all outstanding fees
                            and disbursements are paid in full.</span></p>
                    <p><strong style="color: rgb(65, 64, 66);">Law and jurisdiction</strong></p>
                    <p><span style="color: black;">64. This Agreement shall be governed by and interpreted according to
                            the law of Indian Laws and all disputes arising under the Agreement (including
                            non-contractual disputes or claims) shall be subject to the exclusive jurisdiction of the
                            Rajkot Jurisdiction only</span></p>
                    <p><span style="color: black;">The following terms of business apply to all engagements accepted by
                            V &amp; V Associates as from the {{"05-01-2024" | date: "dd MMMM, YYYY"}}.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
