<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">V & V Associates</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['about-us']">About us</a>
                </li>
                <li class="nav-item dropdown" style="z-index: 1051;">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['services/audits-and-assurance']">Audits & Assurance</a>
                        <a class="dropdown-item" [routerLink]="['services/risk-and-transaction-advisory']">Risk & Transaction Advisory Services</a>
                        <a class="dropdown-item" [routerLink]="['services/taxation']">Taxation</a>
                        <a class="dropdown-item" [routerLink]="['services/international-taxation']">International Taxation</a>
                        <a class="dropdown-item" [routerLink]="['services/corporate-support']">Corporate Support</a>
                        <a class="dropdown-item" [routerLink]="['services/accounting-system']">Accounting System</a>
                        <a class="dropdown-item" [routerLink]="['services/accrual-based-account']">Accrual Based Accounting System</a>
                        <a class="dropdown-item" [routerLink]="['services/kpo-accounts']">KPO-Accounts and Tax</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>