<img src="assets/ServicesAudit.jpg" width="100%"  alt="ServicesBannner Image"/>
<div class="container mt-5">
        <h2 class="services-header">Audits and Assurance</h2>
        <hr/>
        <div>
            <div>
                <p class="services-paragraph" style="text-align: justify;">Audit is a detailed examination of Financial statements
                    with an eventual objective to provide an opinion, whether it represents a true &amp;
                    fair picture of the company / entity.</p>
                <p class="services-paragraph" style="text-align: justify;">Assurance services are an independent review of certain
                    deals, documents or transactions that can prove its reliability, correctness, and
                    validity.</p>
                <p class="services-paragraph" style="text-align: justify;">Our approach to the audit &amp; assurance services is to
                    concentrate efforts on controls and key risk areas enabling to provide a
                    straightforward, cost effective audit.</p>
                <p class="services-paragraph" style="text-align: justify;">Our approach as an audit firm includes a deep
                    understanding of your business and the industry in which you operate, enabling us to
                    design an effective audit plan. Our procedure has been designed to comply with:</p>

            </div>
        </div>

        <!-- list -->
        <div>
            <ul>
                <li class="services-listitems">Standards on Auditing (SAs)</li>
                <li class="services-listitems">International Standards on Auditing</li>
                <li class="services-listitems">Indian Accounting Standards</li>
                <li class="services-listitems">Standards of Quality Control (SQCs)</li>
                <li class="services-listitems">Current Statutes</li>
                <li class="services-listitems">The guidelines issued by the regulatory board regularly</li>
            </ul>
        </div>
        <!-- list -->
        <div>
            <div>
                <p class="services-paragraph" style="text-align: justify;">SDC has presence at multiple locations and has gained
                    exposure by working with many types of industries, while providing Audit &amp;
                    Assurance Services in the various fields.</p>
            </div>
        </div>

        <div>
            <div>
                <p class="services-paragraph">SDC has considerable experience and expertise in:</p>
            </div>
        </div>

        <!-- list -->
        <div>
            <ul>
                <li class="services-listitems">Internal Audit Services / Concurrent Audit Services</li>
                <li class="services-listitems">Statutory Audit prescribed under various laws</li>
                <li class="services-listitems">Tax Audit / GST Audit prescribed under the Income Tax Act / GST Act</li>
                <li class="services-listitems">Limited Reviews</li>
                <li class="services-listitems">Audit for entities like Banks, Trusts / charitable Institutions and Co-operative
                    Societies</li>
                <li class="services-listitems">IFRS – Advisory, Implementation and Reporting</li>
            </ul>
        </div>
</div>
