<div class="container">
        <h2>Audits and Assurance</h2>
        <div>
            <div>
                <p style="text-align: justify;">Audit is a detailed examination of Financial statements
                    with an eventual objective to provide an opinion, whether it represents a true &amp;
                    fair picture of the company / entity.</p>
                <p style="text-align: justify;">Assurance services are an independent review of certain
                    deals, documents or transactions that can prove its reliability, correctness, and
                    validity.</p>
                <p style="text-align: justify;">Our approach to the audit &amp; assurance services is to
                    concentrate efforts on controls and key risk areas enabling to provide a
                    straightforward, cost effective audit.</p>
                <p style="text-align: justify;">Our approach as an audit firm includes a deep
                    understanding of your business and the industry in which you operate, enabling us to
                    design an effective audit plan. Our procedure has been designed to comply with:</p>

            </div>
        </div>

        <!-- list -->
        <div>
            <p></p>
            <ul>
                <li>Standards on Auditing (SAs)</li>
                <li>International Standards on Auditing</li>
                <li>Indian Accounting Standards</li>
                <li>Standards of Quality Control (SQCs)</li>
                <li>Current Statutes</li>
                <li>The guidelines issued by the regulatory board regularly</li>
            </ul>
            <p></p>
        </div>
        <!-- list -->
        <div>
            <div>
                <p style="text-align: justify;">SDC has presence at multiple locations and has gained
                    exposure by working with many types of industries, while providing Audit &amp;
                    Assurance Services in the various fields.</p>
            </div>
        </div>

        <div>
            <div>
                <p>SDC has considerable experience and expertise in:</p>

            </div>
        </div>

        <!-- list -->
        <div>
            <p></p>
            <ul>
                <li>Internal Audit Services / Concurrent Audit Services</li>
                <li>Statutory Audit prescribed under various laws</li>
                <li>Tax Audit / GST Audit prescribed under the Income Tax Act / GST Act</li>
                <li>Limited Reviews</li>
                <li>Audit for entities like Banks, Trusts / charitable Institutions and Co-operative
                    Societies</li>
                <li>IFRS – Advisory, Implementation and Reporting</li>
            </ul>
            <p></p>
        </div>
</div>