<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="site-logo" routerLink="/">V & V Associates</div>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a [routerLink]="['/']" class="nav-link">Home</a></li>
                <li class="nav-item"><a [routerLink]="['dashboard']" class="nav-link">Dashboard</a></li>
                <li class="nav-item"><a [routerLink]="['about-us']" class="nav-link">About Us</a></li>
                <li class="nav-item"><a [routerLink]="['terms-and-conditions']" class="nav-link">Terms & Conditions</a></li>
                <li *ngIf="isLoggedin$ | async;" class="nav-item"><button class="nav-link" (click)="onLogout()">Logout</button></li>

                <!-- <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li> -->
            </ul>
            <p class="text-center">&copy; 2024 All Rights Reserved. </p>
        </div>
    </div>
</footer>
