<img src="assets/riskadvisory.png" alt="Risk Advisory Banner Image" height="300px" width="100%" />
<div class="container mt-3">
    <h2 class="services-header">Risk & Transaction Advisory Services</h2>
    <hr/>
    <div>
        <p class="services-paragraph" style="text-align: justify;">We provide advice and assistance to our clients in
            the formulation and
            implementation of their business decisions, strategies and policies. SDC advice the clients in the
            following areas:</p>

    </div>

    <!-- list -->
    <div>

        <ul class="services-listitems">
            <li>Management Assurance / Internal Audit</li>
            <li>Internal Financial Control Reporting</li>
            <li>Designing of Internal Controls, Systems &amp; Processes.</li>
            <li>Revenue Assurance</li>
            <li>Information Technology Assessment &amp; IT Audit.</li>
            <li>Standard Operating Procedures (SOP) Development and Manuals</li>
            <li>Costing &amp; Accounting System Design &amp; Review</li>
            <li>Fixed Asset Reconciliation &amp; Verification</li>
            <li>Due Diligence Review</li>
        </ul>

    </div>
    <!-- list -->
    <div>
        <p class="services-paragraph" style="text-align: justify;">Analysis of the Financial Statement of client is very
            important for decision
            making. We use various tools which gives real time online analysis of business in the area of Sales,
            Purchases, Receivables, Payables, Cashflow and Comparison of various expenditures and Profitability.
            This
            helps the management for decision making.&nbsp; We use tools which are on cloud base and can be easily
            use
            for the analysis of the clients financial data from anywhere -anytime.</p>
        <p class="services-paragraph" style="text-align: justify;">Financial analysis does Test of Profitability by Debt
            Ratio, Current Ratio
            and
            Collection Period. Similarly it does Test of Financial health by Return on Sales, Inventory Turnover and
            Return on Investment.<br>
            <br>We provide services of Analysis of Financial Statement with different graphics and charts and
            explanation which will be helpful for the management in key decision making.
        </p>

    </div>
</div>
